.newsletter-page {
    background-color: #272727;
    color: #fff;
    min-height: 100vh;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .newsletter-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: lightskyblue;
  }
  
  .newsletter-description {
    font-style: italic;
    margin-bottom: 2rem;
    color: #aaa;
  }

  .ml-embedded {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
  }
  